<footer class="footer">
  <div class="footer__container container">
    <a href="#" class="logo footer__logo">
      <img src="./img/logo.png" alt="logo" width="47" height="47">
    </a>

    <nav class="nav footer__nav">
      <ul>
        <li><a href="#content-section">КАТАЛОГ</a></li>
        <li><a href="#audience-section">обучение</a></li>
        <li><a href="#benefit-section">ПОЧЕМУ ВЫБИРАЮТ НАС</a></li>
        <li><a href="#personals-section">ПРЕПОДАВАТЕЛИ-ПРАКТИКИ</a></li>
        <li><a href="#feedback-section">ОТЗЫВЫ УЧЕНИКОВ</a></li>
        <li><a href="#faq-section">ВОПРОСЫ</a></li>
      </ul>
    </nav>

    <a href="https://t.me/cryptohalal_ru_bot" class="btn footer__btn">Задать вопрос</a>
  </div>
</footer>